.powermenu__window {
  font-size: 24px;
  background-color: rgba($crust, 0.7);

  button {
    border-radius: 24px;
    padding: 4px 16px;
    border: 2px solid transparent;

    &:focus {
      border-color: $text;
    }
  }

  .powermenu__button_suspend {
    color: $crust;
    background-color: $blue;
  }

  .powermenu__button_hibernate {
    color: $crust;
    background-color: $peach;
  }

  .powermenu__button_poweroff {
    color: $crust;
    background-color: $red;
  }

  .powermenu__button_cancel {
    color: $text;
    background-color: $crust;
  }
}
