@import "widgets/hyprland/hyprland-workspaces";
@import "widgets/hyprland/hyprland-window-title";
@import "widgets/date";
@import "widgets/battery";
@import "widgets/power-button";

.window_topbar {
  font-size: 16px;
  font-family: FiraCode Nerd Font Mono;
  margin: 5px 5px 0px 5px;
}

tooltip.background {
  background-color: $base;
  font-size: 16px;
  border-radius: 16px;
  color: $text;
}

tooltip label {
  font-weight: bold;
  margin: 0 8px;
}
