$battery-levels: (
  "100": $green,
  "90": $teal,
  "80": $sky,
  "70": $sapphire,
  "60": $blue,
  "50": $yellow,
  "40": $pink,
  "30": $mauve,
  "20": $peach,
  "10": $maroon,
  "0": $red
);

.battery {
  padding: 0 12px;
  border-radius: 16px;

  @each $level, $color in $battery-levels {
    &.level-#{$level} {
      color: $base;
      background-color: $color;
    }
  }

  .text--battery-level {
    font-weight: 500;
    font-size: 14px;
    padding-top: 2px;
  }
}
